/*
 * Oktawave API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package client.api;

import client.*;
import client.model.account.CreateSshKeyCommand;
import client.model.account.SshKeyId;
import com.google.gson.reflect.TypeToken;

import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AccountApi {
    private ApiClient apiClient;

    public AccountApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AccountApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for accountPostSshKey
     *
     * @param command                 Create SSH key command (required)
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call accountPostSshKeyCall(CreateSshKeyCommand command) throws ApiException {
        Object localVarPostBody = command;

        // create path and map variables
        String localVarPath = "/account/sshkeys";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
                "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
                "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[]{"oauth2"};
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call accountPostSshKeyValidateBeforeCall(CreateSshKeyCommand command) throws ApiException {

        // verify the required parameter 'command' is set
        if (command == null) {
            throw new ApiException("Missing the required parameter 'command' when calling accountPostSshKey(Async)");
        }


        com.squareup.okhttp.Call call = accountPostSshKeyCall(command);
        return call;

    }

    /**
     * Creates new SSH key for user
     *
     * @param command Create SSH key command (required)
     * @return SshKey
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SshKeyId accountPostSshKey(CreateSshKeyCommand command) throws ApiException {
        ApiResponse<SshKeyId> resp = accountPostSshKeyWithHttpInfo(command);
        return resp.getData();
    }

    /**
     * Creates new SSH key for user
     *
     * @param command Create SSH key command (required)
     * @return ApiResponse&lt;SshKey&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SshKeyId> accountPostSshKeyWithHttpInfo(CreateSshKeyCommand command) throws ApiException {
        com.squareup.okhttp.Call call = accountPostSshKeyValidateBeforeCall(command);
        Type localVarReturnType = new TypeToken<SshKeyId>() {
        }.getType();
        return apiClient.execute(call, localVarReturnType);
    }
}
